<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- File appender -->
    <appender name="FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>


    <!-- Development profile -->
    <!-- Logs are printed into console -->
    <!-- Logs levels are: DEBUG for application classes, and INFO for the rest -->
    <springProfile name="dev, development">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.bellotapps.examples.spring_boot_example.webapi" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <!-- Staging profile -->
    <!-- Logs are printed into console and saved into log files -->
    <!-- Logs levels are: DEBUG for application classes, and INFO for the rest -->
    <springProfile name="staging">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-APPENDER"/>
        </root>
        <logger name="com.bellotapps.examples.spring_boot_example.webapi" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-APPENDER"/>
        </logger>
    </springProfile>

    <!-- Production profile -->
    <!-- Logs are saved into log files -->
    <!-- Logs levels are: DEBUG for application classes, and INFO for the rest -->
    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="FILE-APPENDER"/>
        </root>
        <logger name="com.bellotapps.examples.spring_boot_example.webapi" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-APPENDER"/>
        </logger>
    </springProfile>

</configuration>