<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
        In development, the application will log
        DEBUG messages for own classes and SQL statements executed by Hibernate, and
        INFO messages for the rest of classes,
        into the console
    -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.bellotapps.utils.error_handler" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.bellotapps.examples.spring_boot_example" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>